
  table {
    font-family: 'Source code pro', serif;
    width: 10%;
    position: absolute;
    bottom: 300px;
    left: 780px;
    background-color: #b3b3b3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.49);
}

td, th {
    font-family: 'Source code pro', serif;
    border: 1px solid #b1b0b0;
    padding: 5px;
}

tr:nth-child(even) {
     background-color: #888888;
}
